database = {    
    "line_length": 72,
    "id_size" : 10,
    "exp_size": 5,
    "marriage_size": 5,
    "wages_size": 30,
    "industry_size": 20
}

record = {
    "PASSENGER_ID":    ,
    "FIRST_NAME":  ,
    "LAST_NAME":   ,
    "AGE": ,
    "TICKET_NUM":  ,
    "FARE":    ,
    "DATE_OF_PURCHASE"
}
